/* Basic */
body {
    background-color: #121212;
    margin: 0;
    color: #ffffff;
    padding-left: 1vw;
    padding-right: 1vw;
}
::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 44px;
    margin: 0;
    color: #ffffff;
}

h2 {
    height: 2vh;
}

button {
    background-color: rgb(37, 118, 17);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 1.2vh 1.4vw;
}

input[type="file"] {
    background-color: rgb(37, 118, 17);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 1.2vh 1.4vw;
}

/*Titulos*/
.title-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* Contenedores */
.container {
    display: flex;
    flex-direction: row;gap: 0.5vw;
}

.left-col {
    display: flex;
    flex-direction: column;
    height: 91vh;
    width: 43vw;
}

.right-col {
    display: flex;
    flex-direction: column;
    height: 91vh;
    width: 53vw;
}

/* Notas */
.card-notes {
    display: flex;
    flex-direction: column;
    height: 28vh;
    /* background-color: #ff0000; */
    align-items: center;
    overflow: hidden;
}

#notes {
    height: 100%;
    width: 98%;
    border-radius: 12px;
    margin: 0.3vw;
    resize: none;
    font-size: 1.5vh;
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
}

#notes::placeholder {
    color: rgb(255, 255, 255);
}

/* Imagenes */
.card-images {
    display: flex;
    flex-direction: column;
    height: 63vh;
    /* background-color: #00f800; */
    overflow: hidden;
    align-items: center;
}

#thumbs {
    height: 82%;
    width: 99%;
    background-color: rgb(102, 102, 102);
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 56vh;
    gap: 0.1Vw;
}

.thumb {
    width: 140px;
    height: 90px;
    border-radius: 8px;
    overflow: hidden;
    flex: 0 0 auto;
    border: 2px solid rgb(44, 98, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background: #fafafa;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.images-controls {
    display: flex;
    margin: 1vh;
    gap: 8px;
}
